.questions-list {
    background-color: #dbe8e8;
    padding: 20px;
    text-align: center;
}

.questions-list h3 {
    font-size: 1.5rem;
    color: #35446d;
    margin-bottom: 20px;
}

.question-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #f0f0f0;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.question-btn.correct {
    background-color: #e0f7e0;
}

.question-btn.incorrect {
    background-color: #f7e0e0;
}

.question-btn:hover {
    background-color: #bdd4d4;
}

.question-details {
    padding: 20px;
    border-left: 2px solid #ddd;
}

.question-content {
    display: none;
    width:"";
}

.question-pic{
    width: 10%;

}

.question-content h4 {
    font-size: 1.5rem;
    color: #343434;
    margin-bottom: 10px;
}

.answers p {
    margin: 5px 0;
}

.explanation {
    margin-top: 20px;
    color: #555;
}