body{
    margin: 0;
    background-color: #fff9f2 !important;
}

/* 內容樣式 */
.content {
    flex: 1; /* 確保內容區域填滿剩餘空間 */
    display: flex;
    justify-content: center;
}

.main-content{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px !important;
    margin-left: 250px;
    padding-left: 30px;
    
}

.title{
    text-align: left;
    color: #343434;
    font-size: 2.5rem;    
    font-weight: 600 ;
    margin-bottom: 30px;
}


nav{
    display: flex;
    align-items: center;
}

/* 導覽列部分 */
.header {
    position: fixed ;
    background-color: #bdd4d4;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
}

.burgerMenu-placeholder {
    flex: 1; 
    text-align: left;
}

.bergerMenu {
    cursor: pointer;
}

/* 側欄 */
.sidebar {
    height: calc(100% - 100px);
    width: 250px;
    position: fixed;
    top: 100px;
    left: -250px; 
    padding-top: 20px;
    background-color: #dbe8e8;
    transition: 0.3s;
    z-index: 1000;
}


.sidebar.active {
    left: 0;
}

.sidebar .option {
    text-decoration: none;
    font-size: 22px;
    color: #35446d;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-weight: 900; 
    padding: 10px 0; 
}

.sidebar .option:hover {
    background-color: #bdd4d4; 
}

.other-options{
    display: grid;
    margin-top: 80px;
}

.other-option{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #35446d;
    transition: 0.3s;
    font-weight: 900; 
    padding: 7px 0; 
}

.other-option:hover{
    background-color: #bdd4d4;
}

/* 首頁logo */
.logo-placeholder {
    flex: 1; 
    text-align: center;
}

.logo{
    height: 110px;
    width: 110px;
}

/* 使用者圖像 */
.user-placeholder {
    flex: 1; 
    text-align: right;
}

.userphoto{
    height: 70px;
    width: 70px;
}

/* 題目內容樣式 */
#quiz-container {
    text-align: right;
    margin: 20px;
}

.question {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.question-image img {
    width: 10%;
    display: block;
    margin: 0
}

.options div {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.navigation-buttons {
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
}
