.block-name{
    text-align: left;
    color: #202f5a;
    font-size: 2rem;    
    font-weight: 600 ;
}

.organ-block{
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中 */
    text-align: center;
    width: 100px;
    height: 200px;
    margin-bottom: 20px;
    padding-right: 100px;
}

.organ-pic{
    position: relative;
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
}

.organ-block .organ{
    width:100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
}

.organ-pic:hover {
  transform: scale(1.3);
  opacity: 1;
}  

.organ-title{
  text-align: center;
  color: #343434;
  font-size: 1.8rem;    
  font-weight: 600 ;
  margin-top: 20px;
}

.organ-link {
  display: block;
  text-decoration: none; /* 去除預設下劃線 */
  color: inherit; /* 保留字體顏色 */
}