.block-name{
    text-align: left;
    color: #202f5a;
    font-size: 2rem;    
    font-weight: 600 ;
}

.organ-block{
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中 */
    text-align: center;
    width: 100%px;
    height: 200px;
    margin-bottom: 20px;
}

.organ-pic{
    position: relative;
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
}

.organ-block .organ{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* 星星 */
/* From Uiverse.io by andrew-demchenk0 */ 
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #b7b7b7;
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #edc036;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ffce38;
  }
  
  .rating > input:checked ~ label {
    color: #ffce38;
  }
  
.middle{
  width: 30px !important ;
}
  
  